* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b2ddb2;
  font-family: sans-serif;
}

#game-container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.game-info {
  width: 100%;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-radius: 8px;
}

.card-container {
  width: 100%;

  background: #fff;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  border-radius: 8px;
}

.card {
  height: 100px;
  perspective: 800px;
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background: url(./assets/african_pattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
  background: #2196f3;
  transform: rotateY(180deg);
}

.back img {
  width: 70%;
}

#win-message {
  text-align: center;
  font-size: 22px;
  color: green;
}

#reset-btn {
  width: 450px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow:
    0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition:
    box-shadow 0.15s ease,
    transform 0.15s ease;
}

#reset-btn:hover {
  box-shadow:
    0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

#reset-btn:active {
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}