* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/dark_natural.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  padding: 15px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
}
.header {
  width: 100%;
  margin-right: 0 auto;

  /* Add styling */
}
h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  border: 1px solid none;
  background-color: antiquewhite;
}

.game-container {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.game-info {
  width: 100%;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  color: black;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-radius: 6px;
}

.card-container {
  width: 100%;
  background: #eef1aa;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  border-radius: 8px;
}

.card {
  height: 100px;
  perspective: 800px;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background: url("./assets/african_pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
  background: #5eaceb;
  transform: rotateY(180deg);
}

.back img {
  width: 70%;
}

.win-message {
  text-align: center;
  font-size: 22px;
  color: green;
}

.reset-btn {
  width: 90%;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  box-shadow:
    0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
  border-radius: 6px;
  color: #212020;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition:
    box-shadow 0.15s ease,
    transform 0.15s ease;
}

.reset-btn:hover {
  box-shadow:
    0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

.reset-btn:active {
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}
.footer {
  border: 1px solid none;
  background-color: antiquewhite;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 400px) {
  .card {
    height: 80px;
  }
}
